body {
  margin: 0;
  font-family: "Quicksand", "sans-serif", "modern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Quicksand", "sans-serif", "modern";
}
